<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rock Nacional{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'artista_list' %}">🎸 Inicio</a> | 
            <a href="#">👤 Artistas</a> |
            <a href="#">🎵 Acerca de</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p> 2026 - Rock Nacional</p>
    </footer>
</body>
</html>